
{% extends 'base.html' %}

{% block title%}Home {% endblock %}

{% block content %}
<div>
	<p>Aggregate feed of everyone you follow: <a href="https://www.google.com/reader/view/feed/http://readersharing.net/feed/{{ user.email }}/{{ user.get_profile.auth_key }}/">Show in Reader</a></p>
	<p>Auth Key for {{ user.username}}: {{ user.get_profile.auth_key }}</p>
	<p>Removed or missed a feed in reader? <a href="/follow/all/">Re-Add all of the people you are following</a></p>
</div>
<div>
	<table id="contacts" style="width: 90%">
		<thead>
			<tr>
				<th>Follow</th>
				<th>Member</th>
				<th>Name</th>
				<th>Email</th>
				<th>Feed</th>
			</tr>
		</thead>
		<tbody>
			{% for contact in contacts %}
			<tr>
				<td>
					{% if contact.email in following_emails %}
						<a href="/unfollow/{{ contact.email }}/">Unfollow</a>
					{% else %}
						<a href="/follow/{{ contact.email }}/">Follow</a>
					{% endif %}
				</td>
				<td>{% if contact.email in signed_up_emails %}X{% endif %}</td>
				<td>{{ contact.name }}</td>
				<td>{{ contact.email }}</td>
				<td>{% if contact.email in signed_up_emails %}<a href="https://www.google.com/reader/view/feed/http://readersharing.net/shared/{{ contact.email }}/">Show in Reader</a>{% endif %}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<br/>
{% include "_share.html" %}
{% endblock %}

{% block extrajs %}
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
    <script src="/media/js/jquery.dataTables.min.js"></script>
    <script src="/media/js/contacts.js"></script>
	<script type="text/javascript">var switchTo5x=false;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'8b0d8d39-af64-4ca7-a322-608a6836b7d1'});</script>
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="/media/css/redmond/jquery-ui-1.8.16.custom.css">
{% endblock %}
