{% extends 'base.html' %}

{% block content %}
<div>
	<h2><a href="/login/google-oauth2/">login</a></h2>
</div>

<div>
	<p>Remember when Google <a href="http://googlereader.blogspot.com/2011/10/upcoming-changes-to-reader-new-look-new.html">removed following and sharing</a> from reader?</p>
	<p>Do you want them back? Follow these steps</p>
	<ol>
		<li>Login above and follow your friends</li>
		<li>Install <a href="http://userscripts.org/scripts/show/118173">this</a> greasemonkey script</li>
		<li>Load up <a href="http://www.google.com/reader">Google Reader</a> and add your auth key from this site</li>
		<li>Add your aggregate feed or your friends feeds from this site to Reader</li>
	</ol>
	
</div>
{% include "_share.html" %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript">var switchTo5x=false;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'8b0d8d39-af64-4ca7-a322-608a6836b7d1'});</script>
{% endblock %}